*,
*::before,
*::after {
  box-sizing: border-box;

}
body {text-align: center;}

html {
  background: url(C:/Users/Pc/Desktop/archive/back.png) no-repeat center center;
  min-height: 100%;
  background-size: cover;

}
h1 {font-family: 'Benzin';
 font-weight: bold;
 font-style: normal;
;
 font-size: 39.81px;
 background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.90) 50%, rgba(255, 255, 255, 0.48) 100%);
 display: inline-block;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}

small{
   font-size: 9.38px; letter-spacing: 0.15em; font-family: 'Benzin';
    font-weight: 500;
    font-style: normal;
     background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.48) 50%, rgba(255, 255, 255, 0.24) 100%);
 display: inline-block;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
   font-size: 9.38px; font-family: 'Benzin';
    font-weight: 500;
    font-style: normal;
     background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.48) 50%, rgba(255, 255, 255, 0.24) 100%);
 display: inline-block;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
a { color: white;
  font-size: 9.38px; font-family: 'Benzin';
    font-weight: 500;
    font-style: normal;
    padding: 8px 16px;
    
}
.button {   display: flex;
     justify-content: center;
     align-items: center; background: red; display: inline-block; padding: 8px 16px; background: rgba(255, 255, 255, 0.08); border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.08);
 }
 .center1 { margin: 50% 0%; }


